<form name="taskForm" class="form-horizontal" ng-submit="save()">
  <fieldset>
    <legend>Новая задача</legend>
    <div class="control-group">
      <label class="control-label" for="summary">Summary</label>
      <div class="controls">
        <input class="input-block-level" type="text" name="summary" ng-model="task.summary">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="description">Description</label>
      <div class="controls">
        <textarea class="input-block-level" name="description" rows="3" ng-model="task.description"></textarea>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Сохранить</button>
      <a  href="#/" class="btn">Отмена</a>
      <a ng-click="openModal()" class="btn btn-danger" ng-show="task.id">Удалить</a>
    </div>
  </fieldset>
</form>

<div class="modal fade" modal="showModal" close="closeModal()">
  <div class="modal-header">
    <h4>Удалить задачу?</h4>
  </div>
  <div class="modal-body">
    Задача будет удалена безвозвратно.
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" ng-click="remove()">Удалить</button>
    <button class="btn cancel" ng-click="closeModal()">Отмена</button>
  </div>
</div>
