<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
    <link rel="shortcut icon" type="image/png" href="/public/images/favicon.png">
    <script src="/public/js/jquery-1.5.2.min.js" type="text/javascript" charset="utf-8"></script>
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
  </head>
  <body>

    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <a class="brand" href="#">{{.title}}</a>
        <ul class="nav pull-right">
          {{if .user}}
          <li class="active"><a href="#">{{ .user.Login }}</a></li>
          <li class="divider-vertical"></li>
          <li><a href="/logout">Выйти</a></li>
          {{end}}
        </ul>
      </div>
    </div>

    <div id="global-notification">
      {{if .flash.error}}
        <p>{{.flash.error}}</p>
      {{end}}
      {{if .flash.success}}
        <p>{{.flash.success}}</p>
      {{end}}
    </div>
